@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.app {
  @apply relative w-full h-screen overflow-scroll bg-neutral-100;
}

.home {
  @apply w-full h-full flex justify-start items-start flex-col overflow-hidden;
}

.navbar {
  @apply flex sticky top-0 flex-row w-full items-center justify-center px-16 py-6 bg-neutral-50 z-10;
}

.navbar-links {
  @apply flex flex-1 flex-row items-center justify-center space-x-16;
}

.social-links {
  @apply flex flex-1 flex-row items-center justify-end space-x-6;
}

.name-container {
  @apply flex flex-1 flex-row items-center justify-start space-x-4;
}

.avatar {
  @apply rounded-full;
}

.name {
  @apply text-lg text-slate-900;
}

.link {
  @apply text-sm text-slate-900 hover:text-sky-500;
}

.link-arrow {
  @apply flex flex-row text-sm text-slate-900 space-x-1 hover:space-x-3 hover:text-sky-500 duration-300 ease-in-out;
}

.button-circle {
  @apply flex items-center justify-center p-2 rounded-full bg-slate-900 hover:bg-sky-500;
}

.main {
  @apply w-full min-h-screen flex justify-start items-start flex-col px-16 pt-24 pb-6 space-y-6 z-10 overflow-scroll bg-neutral-100;
}

.wide {
  @apply w-full;
}

.hero {
  @apply w-full flex flex-row items-center justify-start space-x-16;
}

.hero-text {
  @apply flex flex-col items-start justify-start max-w-2xl space-y-6;
}

.hero-body {
  @apply text-base text-slate-900 max-w-xl;
}

.title {
  @apply text-6xl text-slate-900 font-semibold;
}

.subtitle {
  @apply text-4xl text-neutral-900 font-semibold;
}

.body {
  @apply text-base text-slate-900;
}

.button-main {
  @apply flex text-base justify-center items-center px-6 py-2 mr-auto rounded-full;
}

.button-enabled {
  @apply text-white bg-slate-900 hover:bg-sky-500;
}

.button-disabled {
  @apply text-slate-500 bg-slate-300;
}

.typewriter-text {
  @apply text-sky-500;
}

.typewriter-cursor {
  animation: blink 1s step-end infinite;
  display: inline; /* Ensure it stays in line with the text */
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

.about-row {
  @apply flex flex-row w-full items-start justify-between space-x-16;
}

.headshot {
  @apply rounded-full;
}

.slideshow {
  @apply flex flex-col h-[448px] w-full max-w-[512px] items-start justify-between;
}

.slides-wrapper {
  @apply flex flex-col h-[376px] w-full max-w-[512px] items-start justify-between overflow-hidden rounded-xl bg-neutral-50;
}

.slides-row {
  @apply flex flex-row h-full w-full transition-transform duration-500 ease-in-out;
}

.slide {
  @apply flex flex-col min-w-[512px] h-full p-6 space-y-2;
}

.slide-title {
  @apply text-2xl font-semibold;
}

.slide-button-container {
  @apply flex flex-row w-full items-end justify-end space-x-2;
}

.slide-button {
  @apply flex flex-row w-[48px] h-[48px] items-center justify-center rounded-full border border-black text-black hover:bg-black hover:text-white;
}

.text-inline {
  @apply flex flex-row items-start justify-start space-x-1;
}

.projects-row {
  @apply flex flex-row w-full items-center justify-between space-x-6;
}

.accordion-row {
  @apply flex flex-row w-full items-center max-h-screen space-x-2 transition-all duration-1000 ease-in-out;
}

.accordion-item {
  @apply flex flex-row max-w-full transition-all duration-1000 ease-in-out;
}

.text-sideways {
  @apply flex mb-3 inline-block -rotate-90 w-10 whitespace-nowrap;
}

.accordion-button {
  @apply flex flex-col h-full w-[64px] h-[396px] justify-end items-center px-3 py-6 rounded-l-xl text-xl text-left font-medium text-slate-800 bg-white transition-all duration-1000 ease-in-out;
}

.accordion-content {
  @apply flex max-h-[396px] flex-row items-start justify-between rounded-r-xl bg-white overflow-hidden transition-all duration-1000 ease-in-out;
}

.accordion-open {
  @apply w-full p-6 space-x-4 transition-all duration-1000 ease-in-out;
}

.accordion-closed {
  @apply w-0 p-0 transition-all duration-1000 ease-in-out;
}

.overflow {
  @apply flex flex-row items-start justify-between overflow-hidden;
}

.accordion-text {
  @apply flex flex-col h-full justify-between min-w-[320px] text-slate-600 transition-all duration-1000 ease-in-out;
}

.accordion-links {
  @apply space-y-2;
}

.accordion-subtitle {
  @apply text-lg;
}

.accordion-body {
  @apply text-sm;
}

.accordion-p {
  @apply flex flex-col text-sm space-y-2;
}

.project-thumb {
  @apply rounded-2xl min-h-[240px] min-w-[480px];
}

.more-text {
  @apply text-sm;
}

.form {
  @apply flex flex-col w-full items-center justify-center p-6 space-y-6 rounded-3xl bg-white;
}

.input-row {
  @apply flex flex-row w-full items-center justify-start space-x-6;
}

.input-container {
  @apply flex flex-col items-start justify-start space-y-2;
}

.input-label {
  @apply text-sm;
}

.input-field {
  @apply flex border px-3 py-2 border-neutral-500 rounded-lg bg-neutral-100;
}

.input-area {
  @apply flex w-full border px-3 py-2 border-neutral-500 rounded-lg bg-neutral-100;
}

.services-container {
  @apply flex flex-col w-full space-y-6;
}

.services-row {
  @apply flex flex-row items-center justify-between;
}

.service-card {
  @apply flex w-[200px] h-[164px] flex-col items-center justify-between p-4  border rounded-lg;
}

.unselected {
  @apply border border-neutral-500 bg-neutral-50 hover:bg-neutral-200;
}

.selected {
  @apply border border-sky-500 bg-sky-200 hover:bg-rose-200;
}

.service-label {
  @apply text-sm;
}

.footer {
  @apply flex flex-col w-full bottom-0 items-center justify-between space-y-1 px-16 pt-6 pb-2 bg-neutral-200;
}

.footer-links {
  @apply flex flex-row w-full items-center justify-between;
}

.footer-subtext {
  @apply text-xs text-neutral-500;
}

.email-button {
  @apply flex flex-row items-center justify-center space-x-2 text-base font-semibold;
}

.footer-socials {
  @apply flex flex-row items-center justify-center space-x-2;
}

.footer-link {
  @apply text-base text-black hover:text-sky-500;
}